@media only screen and (max-width: 768px) {

    .container {
        width: 428px;
        height: 532px;
        left: -14px;
        top: -11px;
        background: url(../../Image/hero/hero.svg);
    }

    .hero-container {
        width: 388px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        margin: 10px 20px;
        padding: 5px;

    }

    .hero-title {
        width: 388px;
        height: 84px;
        left: 20px;
        top: 180px;
        /* 32 / Bold */
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        color: #FFFFFF;
    }

    .hero-title-small {
        width: 388px;
        height: 56px;
        left: 20px;
        top: 274px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #FFFFFF;

    }

    .hero-container .search {
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;

    }

    .hero-container .search-input-btn {
        width: 388px;
        height: 60px;
        left: 20px;
        top: 350px;
        background: #FFFFFF;
        border-radius: 4px;
    }

    .hero-container .search-input-btn .search-input-inner {
        display: flex;
        align-content: center;
        align-items: center;
        gap: 5px;
        padding: 15px 30px;


    }

    .hero-container .search-input-btn .search-input-inner p {
        width: 176px;
        height: 28px;
        left: 76px;
        top: 368px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        color: #222222;


    }

    .hero-container .search-btn {
        box-sizing: border-box;
        padding: 16px 35px;
        gap: 10px;
        width: 388px;
        height: 60px;
        left: 20px;
        top: 450px;
        /* Color/1 */
        background: #5BBB7B;
        /* Color/1 */

        border: 1px solid #5BBB7B;
        /* Btn-Shadow */
        box-shadow: 0px 5px 20px rgba(91, 187, 123, 0.15);
        border-radius: 4px;
    }

    .hero-container .search-btn p {
      
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: center;
    }
}