@media only screen and (max-width: 600px) {
   
.nev-hero {
    width: 428px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.3) 100%);
}
}