@media only screen and (max-width: 768px) {

    .nev-hero {
        width: 428px;
        height: 500px;
        left: 0px;
        top: 0px;
        background: linear-gradient(180deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.3) 100%);
    }
   .navbar {
        width: 428px;
        height: 60px;
        left: 0px;
        top: 20px;
    }

    .nevbar-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px;

    }

    .nev-logo {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;

    }

    .nev-bar {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
    }

    .nev-logo p {
        left: 37.59%;
        right: 3.76%;
        top: 10%;
        bottom: 12.5%;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }

    .nev-logo img {
        width: 40px;
        height: 40px;
        left: 0%;
        right: 69.92%;
        top: 0%;
        bottom: 0%;
    }

    .nev-bar p {
        width: 30px;
        height: 28px;
        left: 328px;
        top: 26px; 
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 28px;  
        color: #FFFFFF;
    }

    .nev-bar img {
        width: 20px;
        height: 16px;
        left: 388px;
        top: 32px;
    }
}