.container {
    /* width: 1361px; */
    /* height: 292px; */
    border: 5px solid red;
    margin-left: 60px;
    margin-right: 60px;

}

.container h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #222222;

}

.container p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #222222;


}

.contant {
    height: 157px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.contant-box {
    width: 306px;
    height: 150px;
}

.contant-box img {
    width: 40px;
    height: 40px;

}

.contant-box .contant-text h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    margin-top: 10px;
}

.contant-box .contant-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #222222;
    margin-top: 10px;
}


